<div class="container">
  <div class="title">商品一覧</div>
  <div class="product-list-container">
    <div class="waiting-for-products" *ngIf="products === null; else productList">
      商品一覧を取得しています・・・
    </div>
    <ng-template #productList>
      <div class="product-list-table">
        <div class="product-line header">
          <div class="product-id">ID</div>
          <div class="product-name">名前</div>
          <div class="product-price">価格</div>
          <div class="product-shokan">値段への所感</div>
        </div>
        <div class="product-line" *ngFor="let product of products" (mouseenter)="hovered(product)" (mouseleave)="unhovered(product)">
          <div class="product-id">{{ product.id }}</div>
          <div class="product-name">{{ product.name }}</div>
          <div class="product-price">
            <span *ngIf="!product.hovered; else Unhovered">
              {{ product.price }}
            </span>
            <ng-template #Unhovered>
              <span class="button white" [routerLink]="[product.id]">
                詳細
              </span>
            </ng-template>
          </div>
          <div class="product-shokan" [ngSwitch]="product.price">
            <span *ngSwitchCase="4000">高いね</span>
            <span *ngSwitchDefault>安いね</span>
          </div>
        </div>
      </div>
    </ng-template>
  </div>
</div>

<p>(Linkにそのまま文字列受け渡すボタン)</p>
<div class="button" routerLink="/products/{{ id }}">
  商品詳細へ
</div>

<p>(Linkを配列で受け渡す処理)</p>
<div class="button" [routerLink]="['/products', id2]">
  商品詳細へ
</div>
