<div class="container">
    <div class="title">商品詳細</div>
    <div class="product-detail-container">
        <div class="param-line">
            <div class="label">ID</div>
            <div class="value">{{ product.id }}</div>
        </div>
        <div class="param-line">
            <div class="label">名前</div>
            <div class="value">{{ product.name }}</div>
        </div>
        <div class="param-line">
            <div class="label">価格</div>
            <div class="value">{{ product.price }}</div>
        </div>
        <div class="param-line">
            <div class="label">説明</div>
            <div class="value">{{ product.description }}</div>
        </div>
    </div>
    <div class="footer">
        <div class="button" routerLink="/products">商品一覧へ</div>
    </div>
</div>

<div class="container">
    <div class="title">
        商品詳細(ProductClassのプロパティをMapに入れ替えてそれを表示)
    </div>
    <div class="product-detail-container">
        <div class="param-line" *ngFor="let item of productMap | keyvalue">
            <div class="label">{{ item.key }}</div>
            <div class="value">{{ item.value }}</div>
        </div>
    </div>
    <div class="footer">
        <div class="button" routerLink="/products">商品一覧へ</div>
    </div>
</div>

<div class="container">
    <div class="title">
        商品詳細(reflectionでプロパティの名前と値を利用して処理を記述)
    </div>
    <div class="product-detail-container">
        <div class="param-line" *ngFor="let item of productOj">
            <div class="label">{{ item[0] }}</div>
            <div class="value">{{ item[1] }}</div>
        </div>
    </div>
    <div class="footer">
        <div class="button" routerLink="/products">商品一覧へ</div>
    </div>
</div>
